<!-- Wrapper -->
  <section id="wrapper">
    <header>
      <div class="inner">
        <h2>La conclusion...</h2>
        <p>...ou comment j'ai <strike>trollé*</strike> connu Quentin</p>
      </div>
    </header>

    <!-- Content -->
      <div class="wrapper">
        <div class="inner">

          <section>
            <h3 class="major">Enseignements</h3>
            <p>Au delà des banalités d'usage <em>(j'ai beaucoup appris, j'en suis sorti grandi, ce type est super sympa...)</em>, et grâce au fait que Quentin se soit prêté au jeu sans faux-semblant, ce petit projet m'a permis deux choses:</p>
            <ol>
              <li><em>De comprendre</em>, de manière simple comment implémenter un projet web en MVC;</li>
              <li><em>D'appréhender</em> la réalité professionnelle d'un web developer expérimenté.</li>
            </ol>
            <p>Je me sens conforté dans certaines de mes intuitions quand à ce métier, notamment dans une perspective <em>freelance</em>. L'idée que <strong>l'équipe</strong> reste au centre de la dynamique de création d'un projet (même en tant que freelance) me plaît, étant donnée ma nature plutôt tournée vers les autres et l'importance que j'accorde au travail collaboratif.</p>
            <p>Le parcours de Quentin est un peu mon <strong>parcours rêvé</strong>. Commencer par intégrer une équipe pour développer ses compétences techniques me semble important avant de se lancer dans une aventure en 'solo'.</p>
            <p>La notion de <strong>full-stack</strong> est un peu plus claire également. Être un 'generaliste' est, de nos jours, un objectif pratiquement impossible à atteindre. Tout va trop vite, il est préférable de focaliser son attention sur quelques technologies (front et back) et de se spécialiser dans celles-là.</p>
            <p>Enfin, je compte mettre dans un beau cadre ouvragé les conseils donnés par Quentin. Priceless ^^-</p>

          </section>
          <section>
            <p>* trollé...façon de parler ;)</p>
          </section>
        </div>
      </div>

</section>
