<!-- Wrapper -->
  <section id="wrapper">
    <header>
      <div class="inner">
        <h2>Quentin @ work!</h2>
        <p>Quentin est le co-fondateur de <a href="#">Tcheu! </a>et <strong>LE</strong> Back-end developer @ <a href="http://basedesign.com" target="_blank">basedesign</a></p>
      </div>
    </header>

    <!-- Content -->
      <div class="wrapper">
        <div class="inner">
          <section>
            <h2 class="major">Tcheu!</h2>
            <h5>Belgian Web Developers.</h5>

            <p><span class="image fit"><img src="./images/logo_tcheu.svg" alt="logo Tcheu!"></span><strong>Tcheu!</strong> est une équipe de web developpeurs basée sur Bruxelles. Travaillant principalement avec <a href="https://laravel.com/">Laravel</a> et <a href="https://craftcms.com/">Craft CMS</a>, l'équipe développe des applications web et sites web très bien pensés et sexy!.</p>
            <p>La méthodologie de l'équipe est orientée vers un contenu de qualité, une expérience utilisateur optimale et une présence online travaillée.</p>
            <p>Le site présente par ailleurs quelques <a href="https://tcheu.be/case-studies">études de cas</a> reprenant en détail leur manière de procéder.</p>
            <ul class="contact">
              <li class="fa-home">Tcheu!<br>
                4, rue des Pères Blancs<br>
                1040 Brussels<br>
              </li>
              <li class="fa-globe"><a href="tcheu.be/contact-us">Tcheu! - contact</a></li>
            </ul>

          </section>
          <section>
            <h2 class="major">Base Design</h2>
            <h5>Quentin helps create <em>iconic brands</em></h5>
            <p><img class="image right" src="./images/base.jpg" alt="logo Base Design"></p>
              <blockquote cite="https://basedesign.com/">
              Base is an international network of studios led by creatives.<br>
              Base understands (context), defines (concept), brings (design), seeks (clarity), and builds (empathy).<br>
              Base does Branding. Research. Strategy. Story. Concept. Art Direction. Design Environmental. Digital. Social.<br>
              Branding with Base is about people, simplicity and common sense.<br>
            </blockquote>
            <p><a href="https://basedesign.com" target="_blank">Base Design</a> est une entreprise internationale de <em>branding</em> fondée à Bruxelles en 1993 par Thierry Brunfaut et Dimitri Jeurissen. Elle compte trois studios localisés sur Bruxelles, New York et Genève. Avec une philosophie de travail à mi-chemin entre le monde des affaires et celui de la culture, Base Design compte parmi ses clients un panel très variés de médias et industries tels que ceux de la mode, du luxe, de l'art ou encore de la culture. On retrouve parmi ces clients des noms prestigieux tels que: the Museum of Modern Art (MoMA), Fondation Louis Vuitton, Adidas, Eastpak, Maison Dandoy, Le Pain Quotidien, Caran d'Ache, Delvaux, Heschung, The Olympic Museum, NYCxDesign, Haus Der Kunst, Kanye West, Bank Degroof-Petercam, Pantone, La Monnaie / De Munt, Scarlett Johansson et bien d'autres encore. </p>
            <ul class="contact">
              <li class="fa-home">BASE Design<br>
                Ch. de Forest 62/5<br>
                1060 Brussels, Belgium <br>
              </li>
              <li class="fa-phone">+32 2 219 00 82</li>
              <li class="fa-envelope">brussels@basedesign.com</li>
            </ul>
          </section>
        </div>
      </div>

</section>
<section id="wrapper">

</section>
