<!-- Footer -->
  <section id="footer">
    <div class="inner">
      <ul class="contact">
        <li class="fa-github"><a href="https://github.com/ModjoInc/12-MVC/tree/master/APP_MVC_2" target="_blank">Accèder au repo de ce projet sur GitHub</a></li>
        <li class="fa-envelope"><a  href="mailto:habibem@gmail.com" target="_blank">habibem@gmail.com</a></li>
        <li class="fa-twitter"><a href="https://twitter.com/HabibMaaza" target="_blank">twitter.com/HabibMaaza</a></li>
      </ul>
      <ul class="copyright">
        <li>&copy; <?= date('Y') ?> Habib El Maaza Gomez</li>
      </ul>
    </div>
  </section>

</div>

<!-- Scripts -->
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>

</body>
</html>
