  <!-- Page Wrapper -->
    <div id="page-wrapper">

      <!-- Header -->
        <header id="header" class="alt">
          <h1><a href="index.html">L'interview d'un Web Dev</a></h1>
          <nav>
            <a href="#menu">Menu</a>
          </nav>
        </header>

<!-- Banner -->
  <section id="banner">
    <div class="inner">
      <div class="logo"><span class="icon fa-code"></span></div>
      <h2>Interview with a Web Dev</h2>
      <p>Presenté to you par <a href="https://github.com/ModjoInc">El Maaza Gomez Habib</a></p>
    </div>
  </section>

<!-- Wrapper -->
  <section id="wrapper">

    <!-- One -->
      <section id="one" class="wrapper spotlight style1">
        <div class="inner">
          <a href="https://github.com/kant312" class="image"><img src="images/quentin2.jpg" alt="" /></a>
          <div class="content">
            <h2 class="major">Quentin Delcourt</h2>
            <p>Quentin est un full-stack developer originaire de Charleroi et vivant à Bruxelles depuis 2001.
            Il a commencé à travailler en 2004 et depuis exerce principalement en freelance et collabore avec des agences de communication, des startups ou des institutions</p>
            <p>Son principal client actuel est <a href="https://basedesign.com/">Base Digital</a> </p>
            <a href="index.php?action=entreprise" class="special">Learn more</a>
          </div>
        </div>
      </section>

    <!-- Two -->
      <section id="two" class="wrapper alt spotlight style2">
        <div class="inner">
          <a href="https://github.com/kant312" class="image"><img src="images/quentin3.jpg" alt="" /></a>
          <div class="content">
            <h2 class="major">L'interview</h2>
            <p></p>
            <blockquote cite="Quentin Delcourt">
              J'ai entrepris en 2001 des études en informatique de gestion à l'Institut Paul Lambin à Bruxelles. Il y avait en dernière année la possibilité de choisir des cours orientés web development. Je les ai suivis, j'ai fait un stage où j'ai pu exercer ces compétences et j'ai commencé directement à chercher du travail après avoir fini ce graduat (ex-baccalauréat) en informatique.
            </blockquote>
              <p></p>
            <a href="index.php?action=interview" class="special">Retrouvez l'interview complète</a>
          </div>
        </div>
      </section>
