<!-- Banner -->
  <section id="banner">
    <div class="inner">
      <div class="logo"><span class="icon fa-code"></span></div>
      <h2>Interview with a Web Dev</h2>
      <p>Presented to you by <a href="https://github.com/ModjoInc">El Maaza Gomez Habib</a></p>
    </div>
  </section>

<!-- Wrapper -->
  <section id="wrapper">

    <!-- One -->
      <section id="one" class="wrapper spotlight style1">
        <div class="inner">
          <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
          <div class="content">
            <h2 class="major">Magna arcu feugiat</h2>
            <p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus viverra, ex nulla cursus.</p>
            <a href="#" class="special">Learn more</a>
          </div>
        </div>
      </section>

    <!-- Two -->
      <section id="two" class="wrapper alt spotlight style2">
        <div class="inner">
          <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
          <div class="content">
            <h2 class="major">Tempus adipiscing</h2>
            <p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus viverra, ex nulla cursus.</p>
            <a href="#" class="special">Learn more</a>
          </div>
        </div>
      </section>
