<!-- Wrapper -->
  <section id="wrapper">
    <header>
      <div class="inner">
        <h2>Quentin Delcourt</h2>
        <p>Bref...L'intégrale de l'interview</p>
      </div>
    </header>

    <!-- Content -->
      <div class="wrapper">
        <div class="inner">

          <section>
            <h3 class="major">Présentation</h3>
            <h4>Peux-tu te présenter brièvement ?</h4>
            <p>Mon nom est Quentin Delcourt et je suis né voici 34 années dans la région de Charleroi. Je suis venu vivre à Bruxelles en 2001 lorsque j'ai commencé mes études et n'ai que très peu quitté cette ville depuis.</p>
            <h4>Où travailles-tu ?</h4>
            <p>Je suis indépendant et je travaille avec différents types de clients (agences de communication, startups, institutions). Actuellement, mon client principal est <a href="https://basedigital.io" target="_blank">Base Digital</a>, société avec laquelle je collabore sur divers projets.</p>
            <h4>Quelle est ta fonction exacte au sein de l'entreprise ? Au sein de quel département de l'entreprise travailles-tu ?</h4>
            <p>Je me définis comme full-stack developer. Cela veut dire que je travaille aussi bien sur la partie front-end (partie du code éxécutée dans le navigateur) que back-end (code éxécuté sur le serveur web).</p>
            <h4>Depuis quand exerces-tu ?</h4>
            <p>J'ai commencé à travailler à partir de fin novembre 2004.</p>
            <h4>Peux-tu me décrire en quoi consiste ton métier ou ton poste ?</h4>
            <p>Mes tâches varient d'un projet à l'autre mais généralement je me charge des postes suivants:</p>
              <ul>
                <li><strong>Analyse technique et/ou fonctionnelle</strong> d'un site web ou d'une application avant le début du développement et suite à une ou plusieurs réunions avec le client</li>
                <li>Création de la <strong>base de données</strong></li>
                <li>Configuration du <strong>CMS</strong> (Content Management System)</li>
                <li>Développement de <strong>plugin</strong> pour le CMS</li>
                <li>Création des <strong>templates</strong> (code permettant la génération du HTML des pages)</li>
                <li>Développement des <strong>scripts</strong> qui seront éxécutés côté client (code JavaScript)</li>
                <li>Dans certains cas:</li>
                <ul>
                  <li>Implémentation de la feuille de style (code CSS)</li>
                  <li>Importation de données</li>
                  <li>Découpage des tâches et gestion de projet</li>
                </ul>
              </ul>
              <h4>Quelles tâches annexes peux-tu être amené à accomplir ?</h4>
              <p>Mon statut d'indépendant m'amène souvent à <strong>rédiger des offres et définir un budget</strong>.
              On est également fréquemment amené à participer à de nombreuses <strong>réunions</strong> tout au long d'un projet. J'en parle dans les tâches annexes mais ces réunions sont bien sûr <em>capitales</em> pour mener à bien tout type de projet.</p>
          </section>

          <section>
            <h3 class="major">Pourquoi le webdevelopment ? <sub>oui!pourquoiiiii?</sub></h3>
            <h4>Qu’est-ce qui t'a donné envie de faire ce métier ?</h4>
            <p>J'ai eu la chance, dès l'âge de 7 ans, de disposer d'un ordinateur pour moi tout seul. Comme de nombreuses personnes de ma génération, j'étais intéressé par ces machines car elles me permettaient de jouer à des jeux vidéos. J'ai cependant bien vite découvert les autres possibilités des ordinateurs et j'ai commencé à programmer (de façon très rudimentaire: BASIC, scripts) à partir de 8 ans.
            En 1998, j'ai commencé à créer des pages web que j'échangeais sur disquette avec d'autres amis, n'ayant pas encore de connexion Internet à l'époque :p
            J'ai tout de suite été fasciné par la créativité et les possibilités amenées par ce nouveau média. J'ai donc directement décidé d'entreprendre des études et de me spécialiser dans ce secteur.</p>
            <h4>Quel est ton parcours ?</h4>
            <p>J'ai entrepris en 2001 des études en informatique de gestion à <a href="http://www.vinci.be/fr-be/ipl/Pages/Accueil.aspx" target="_blank">l'Institut Paul Lambin à Bruxelles</a>. Il y avait en dernière année la possibilité de choisir des cours orientés web development. Je les ai suivis, j'ai fait un stage où j'ai pu exercer ces compétences et j'ai commencé directement à chercher du travail après avoir fini ce graduat (ex-baccalauréat) en informatique.</p>
            <h4>Comment es-tu parvenu à ton emploi actuel ?</h4>
            <p>J'ai tout d'abord travaillé pendant 7 ans pour des agences de communications dont les clients principaux étaient les <strong>institutions européennes</strong>. Cela m'a permis de <em>gagner de l'expérience</em> sur des projets tels que des applications web, sites de contenus gérés via <em>CMS</em>, quelques projets expérimentaux tels que des <em>jeux en ligne</em> (Flash, JS).
            Suite à ces expériences, j'ai décidé de me lancer en indépendant. J'ai rejoint durant 2 ans une <em>startup</em> pour les aider à concevoir une plateforme de diffusion de vidéos pour le Conseil Européen. Depuis 2014 j'ai des clients assez variés comme expliqué plus haut. Je collabore étroitement avec <a href="https://basedesign.com/" target="_blank">Base Digital</a> depuis mars 2017 et nous travaillons ensemble sur de nombreux projets.</p>
          </section>

          <section>
            <h3 class="major">Un bon webdeveloper...<sub>est un webdeveloper mort<em>**just kidding**</em></sub></h3>
            <h4>Quelles sont les qualités personnelles nécessaires pour exercer ce métier selon toi ?</h4>
            <p>Il est essentiel selon moi d'avoir de bonnes facultés d'abstraction. Cela vaut pour tous les types de développeurs bien sûr. Une autre qualité importante est l'écoute, car il faut parvenir à comprendre les besoins des utilisateurs pour qui on va développer une application ou un site.</p>
            <h4>Quelles sont les compétences professionnelles exigées dans ce métier ?</h4>
            <p>Avoir une bonne connaissance générale de tous les éléments de la chaine d'une application ou d'un site web. Infrastructure, réseau, serveurs et clients. Le nombre gigantesque d'appareils sur lesquels un site doit pouvoir fonctionner est ce qui rend le développement web à la fois très intéressant et très complexe, et si particulier.
            L'étendue des technologies est tel qu'il devient difficile d'être un généraliste (ce que je me suis éfforcé de faire jusqu'à présent), et il semble qu'il soit préférable maintenant de se spécialiser en front-end ou back-end.
            L'utilisation d'un système de versioning (tel que git) est nécessaire, quelle que soit la spécialisation.
            A cela s'ajoute également la capacité de pouvoir gérer un projet, pouvoir déléguer des tâches et, probablement un des exercices les plus périlleux: évaluer le temps qui sera pris pour réaliser une tâche.</p>
            <h4>Peux-tu préciser à quelles technologies tu fais appel au quotidien ?</h4>
            <p>J'utilise énormément <a href="https://craftcms.com/" target="_blank">"Craft CMS"</a>, un système de gestion de contenus écrit en PHP avec le framework <a href="http://www.yiiframework.com/" target="_blank">"Yii"</a>. Quand les besoins le justifient, je développe des applications web au moyen du framework PHP <a href="https://laravel.com/" target="_blank">"Laravel"</a>.
            Au niveau front-end, je développe de petits modules écrits en <a href="http://es6-features.org" target="_blank">ES6</a> pour les fonctionnalités simples (ex: afficher/cacher une navigation mobile) et j'utilise le framework <a href="https://vuejs.org/" target="_blank">VueJS</a> pour créer des applications plus élaborées.</p>
            <h4>Qu’est-ce qui te plaît le plus dans ton métier et pourquoi ?</h4>
            <p>Elaborer mentalement un système pendant des jours voire même semaines pour le voir <em>"prendre vie"</em> petit à petit est toujours plaisant. C'est un métier qui est également très <strong>collaboratif</strong>, et travailler en équipe est quelque chose que j'apprécie énormément.</p>
          </section>

          <section>
            <h3 class="major">Contraintes <sub>waaaat?</sub></h3>
            <h4>Quelles sont les personnes avec qui tu es amené à entrer en relation ?</h4>
            <p>Au quotidien je travaille avec les <strong>designers, front-end developers et chefs de projets</strong> pour avancer sur le développement. Il y a aussi de nombreux contacts (via mail/téléphone/video call/Slack) avec les <strong>clients</strong>.</p>
            <h4>Y a-t-il des conditions de travail spécifiques ? Des contraintes physiques ?</h4>
            <p><u>Conditions de travail</u>: tout dépend du statut qu'on a et de l'entreprise avec laquelle on travaille. Il est parfois nécessaire de travailler chez un client directement, ce qui nous force à être en dehors de nos habitudes et notre zone de confort.</p>
            <p><u>Conditions physiques</u>: Il faut aimer rester assis :) Certains utilisent des "standing desks" pour cela mais ce n'est pas mon cas. Parfois une bonne marche est nécessaire pour trouver la solution à un problème.</p>
            <h4>Quels sont les problèmes auxquels tu peux être confronté ?</h4>
            <p>Il n'est pas toujours évident de bien baliser un projet. Le <em>"scope creep"</em> est un phénomène qui peut vite rendre un projet non rentable et infernal pour les deux parties. Travailler sur un projet mal défini et sur lequel la communication n'est pas bonne est une expérience qui peut être assez stressante.</p>
          </section>

          <section>
            <h3 class="major">Le marché de l'emploi <sub>"ils sont frais mes webdeveloper, ils sont frais!"</sub></h3>
            <h4>Quelles sont les évolutions possibles selon toi ?</h4>
            <p>Le web a un bel avenir devant lui, c'est un système supporté par de nombreux appareils à travers le monde, et le nombre de personnes connectées n'a pas fini d'augmenter. Je ne vois pas la demande de développeur web baisser de si tôt, surtout pour le front-end.</p>
            <h4>Quel est l'état du marché de l'emploi pour ce métier en général selon toi ? Dans ta zone géographique ?</h4>
            <p>D'après le peu que je sais, il semble que la demande soit assez forte mondialement. Dans ma zone géographique, il est, de mon expérience, toujours plus simple de trouver un emploi dans le développement web à Bruxelles, mais il semble que ces dernières années les offres augmentent fortement aussi bien en Flandre qu'en Wallonie. Anvers, Gand, Louvain-la-Neuve, Namur, etc. ont connu un bon développement.</p>
            <h4>Existe-t-il des difficultés de recrutement dans ton métier ?</h4>
            <p>Je ne pense pas qu'il soit extrêmement difficile de trouver un poste en Belgique, à partir du moment où on montre suffisament d'intérêt et qu'on a quelques projets (personnels ou d'entreprise) à présenter. La culture au niveau de l'embauche se fait plus sur base de la confiance et de l'expérience plutôt que sur des tests comme aux Etats-Unis.</p>
            <h4>As-tu déjà été démarché par un recruteur ?</h4>
            <p>De nombreuses fois. Rarement pour des compétences qui me correspondent.</p>
          </section>


          <section>
            <h3 class="major">Conseils... <sub>notice me senpaïïïï</sub></h3>
            <h4>Y a-t-il des personnes à qui tu déconseillerais de faire ce métier ?</h4>
            <p>Si vous ne savez pas être <strong>patient</strong>, passez votre chemin.</p>
            <h4>Quels conseils me donnerais-tu ?</h4>
            <p>En vrac:</p>
            <ul>
              <li>Les technologies web évoluent de façon exponentielle, il est donc important de prendre un <strong>minimum de temps au quotidien</strong> pour rester au fait des dernières technologies et paradigmes (en suivant des sites comme Hacker News ou en suivant des développeurs sur Twitter)...</li>
              <li>..mais il est également important de ne pas <strong>succomber</strong> directement au chant des sirènes des dernières technologies. Nous devons vraiment nous poser la question <em>"ai-je vraiment besoin d'utiliser ce nouveau langage"</em> car au final, le plus important est que <strong>nos utilisateurs puissent être satisfaits et nos collègues et confrères capables de maintenir une application que nous avons développé, sans notre aide</strong></li>
              <li>rien ne sera <em>"fait en 5 minutes"</em>, il y aura toujours des petites choses auxquelles on aura pas pensé</li>
              <li>si une tâche prend 4h, alors elle en prendra 6 ;) (toujours multiplier son évaluation par 1,5 à cause des imprévus)</li>
              <li>quand je bloque sur un problème, <em>j'explique le problème à un être humain</em>, et j'obtiens souvent la réponse rien qu'en ayant énoncé ce problème</li>
              <li>quand rien ne va plus, <strong>aller prendre l'air ;)</strong></li>
            </ul>
          </section>
          <section>
            <h3>Merci Quentin!</h3>
          </section>
        </div>
      </div>

</section>
