<!-- Wrapper -->
  <section id="wrapper">
    <header>
      <div class="inner">
        <h2>Quentin Delcourt</h2>
        <p>Le Making of</p>
      </div>
    </header>

    <!-- Content -->
      <div class="wrapper">
        <div class="inner">

          <section>
            <h3 class="major">Le contexte</h3>
            <p>Dans le cadre de notre formation de web developer chez <a href="https://becode.org">BeCode</a> et, plus spécifiquement, dans un contexte d'apprentissage de la POO et des MVC, nous avons reçu comme consigne d'interviewer un web developer expérimenté pour ensuite intégrer le tout dans un site conçu selon l'architecture MVC.</p>
            <p>Le nom de Quentin circulait dans le cercle des coachs et c'est tout naturellement que je lui envoyais un mail contenant ma proposition d'interview.</p>
            <p>Quentin s'est montré très disponible et réactif et a d'emblée accepter de jouer le jeu...avec panache!</p>
            <p>Quelques heures plus tard, je recevais un fichier contenant toutes les réponses souhaitées...et même plus. Le document est très édifiant pour un web developer débutant comme moi.</p>
            <p>Le contenu intégral de l'interview se trouve <a href="index.php?action=interview">ici</a></p>
            <p>Je remercie énormément Quentin de s'être prêté avec autant de bonne volonté à ce petit exercice.</p>

          </section>
        </div>
      </div>

</section>
