  <!-- Menu -->
    <nav id="menu">
      <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
          <li><a href="index.php?action=home">Home</a></li>
          <li><a href="index.php?action=makingof">Making Of</a></li>
          <li><a href="index.php?action=entreprise">Son Entreprise</a></li>
          <li><a href="index.php?action=presentation">Qui est-il?</a></li>
          <li><a href="index.php?action=interview">L'interview</a></li>
          <li><a href="index.php?action=conclusion">La Conclusion</a></li>
        </ul>
        <a href="#" class="close">Close</a>
      </div>
    </nav>
