
<!-- Wrapper -->
  <section id="wrapper">
    <header>
      <div class="inner">
        <h2>Quentin Delcourt</h2>
        <p>Who's that guy <sup>	&#9836; la lala la	&#9835;</sup> ?</p>
      </div>
    </header>

    <!-- Content -->
      <div class="wrapper">
        <div class="inner">

          <section>
            <h3 class="major">Qui es-tu Quentin?</h3>
            <blockquote cite="Quentin Delcourt">
              "Mon nom est Quentin Delcourt et je suis né voici 34 années dans la région de Charleroi. Je suis venu vivre à Bruxelles en 2001 lorsque j'ai commencé mes études et n'ai que très peu quitté cette ville depuis."
            </blockquote>
            <p>Quentin est une web developer full-stack, indépendant et travaillant depuis 2004. Actuellement son client principal est <a href="https://basedesign.com" target="_blank">Base Design</a>. Il est également co-fondateur de <a href="https://tcheu.be" target="_blank">Tcheu!</a>, une agence de web developer basée sur Bruxelles.</p>
          </section>
        </div>
      </div>

</section>
